<p>---------------------------------</p>
<h4>Current Ads</h4>
<div class="current-ads-container">
    <!-- Current Ads -->
    <div class="ad-card"><img src="assets/Ads/google.png" alt="Ad 1"></div>
    <div class="ad-card"><img src="assets/Ads/facebook.png" alt="Ad 2"></div>
    <div class="ad-card"><img src="assets/Ads/insta.png" alt="Ad 3"></div>
    <div class="ad-card"><img src="assets/Ads/olx.png" alt="Ad 4"></div>
    <div class="ad-card"><img src="assets/Ads/twitter.png" alt="Ad 5"></div>
</div>
<br>
<br>
<h4>Ads Pending for Approval</h4>
<div class="current-ads-container">
    <!-- Current Ads -->
    <div class="ad-card">
        <img src="assets/Ads/google.png" alt="Ad 1">
        <div class="form-buttons">
            <button class="approve-btn">Approve</button>
            <button class="deny-btn">Deny</button>
        </div>
    </div>
    <div class="ad-card"><img src="assets/Ads/facebook.png" alt="Ad 2"></div>
    <div class="ad-card"><img src="assets/Ads/insta.png" alt="Ad 3"></div>
    <div class="ad-card"><img src="assets/Ads/olx.png" alt="Ad 4"></div>
    <div class="ad-card"><img src="assets/Ads/twitter.png" alt="Ad 5"></div>
</div>