<div class="forgot-password-modal">
  <div class="modal-content">
    <h2>Forgot Password</h2>
    <label for="email" class="title-label">Enter/Confirm email to send OTP</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" >
    <button class="ghost-button" (click)="onConfirm()">Confirm</button>

            <div *ngIf="isLoading" class="loading-overlay">
                <div class="loading-spinner">
                  <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
            </div>


    @if(showOtpForm){
          <form [formGroup]="otpForm" (ngSubmit)="getOtpValue()">
            <div class="d-flex gap-2 justify-content-center">
              <input type="text" formControlName="otp1" maxlength="1" class="form-control text-center" style="width:50px; height:50px;"
                (input)="move($event, otp2)" #otp1 />
              <input type="text" formControlName="otp2" maxlength="1" class="form-control text-center" style="width:50px; height:50px;"
                (input)="move($event, otp3)" #otp2 />
              <input type="text" formControlName="otp3" maxlength="1" class="form-control text-center" style="width:50px; height:50px;"
                (input)="move($event, otp4)" #otp3 />
              <input type="text" formControlName="otp4" maxlength="1" class="form-control text-center" style="width:50px; height:50px;"
                (input)="move($event, otp5)" #otp4 />
              <input type="text" formControlName="otp5" maxlength="1" class="form-control text-center" style="width:50px; height:50px;"
                (input)="move($event, otp6)" #otp5 />
              <input type="text" formControlName="otp6" maxlength="1" class="form-control text-center" style="width:50px; height:50px;"
                (input)="move($event, null)" #otp6 />
            </div>
          
            <div class="text-center mt-3">
              <button class="ghost-button" type="submit">Submit OTP</button>
            </div>
          </form>
    }

    @if(showForgotPasswordForm){
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <!-- NEW PASSWORD -->
      <div class="password-wrapper">
      <input
          [type]="showNewPassword ? 'text' : 'password'"
          id="newPassword"
          placeholder="New Password"
          formControlName="newPassword"
          required
      />
      <span class="toggle-eye" (click)="toggleNewPasswordVisibility()">
          <i class="eye-icon" [ngClass]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
      </span>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="password-wrapper">
      <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword"
          placeholder="Confirm New Password"
          formControlName="confirmPassword"
          required
      />
      <span class="toggle-eye" (click)="toggleConfirmPasswordVisibility()">
          <i class="eye-icon" [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
      </span>
      </div>


      <button class="ghost-button" type="submit">
        Update Password
      </button>
    </form>
    }

    <button class="close-btn" (click)="closePopup()">✖</button>
  </div>
</div>


