<table>
    <thead>
        <tr>
        <th>Index</th>
        <th>User Id</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Number of bookings</th>
        <th>Booking Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1</td>
        <td>{{userDetails.id}}</td>
        <td>{{userDetails.userName}}</td>
        <td>{{userDetails.email}}</td>
        <td>{{userDetails.phoneNo}}</td>
        <td>{{userDetails.numOfBookingsMade}}</td>
        <td><button class="table-btn">View Details</button></td>
        </tr>
    </tbody>
</table>