<app-customerbar></app-customerbar>
<div class="signup-container">
    <div class="signup-frame">
        <h2 class="form-header">Booking Details</h2>
        <form [formGroup]="bookingForm" (ngSubmit)="OnBooking(bookingForm)">
            
            <div class="label-input-div-container">
                <!-- startFrom -->
                <div class="label-input-div">
                    <label class="form-font">Origin`</label>
                    <input type="text" formControlName="startfrom" class="form-input" >
                    @if (bookingForm.controls['startfrom'].touched || bookingForm.controls['startfrom'].dirty) {
                        <small *ngIf="bookingForm.controls['startfrom'].errors?.['required']" class="invalid-input">Please provide from where you want to start your journey!</small>
                    }
                </div>

                <!-- endTo -->
                <div class="label-input-div">
                    <label class="form-font">Destination</label>
                    <input type="text" formControlName="destination" class="form-input">
                    @if (bookingForm.controls['destination'].touched || bookingForm.controls['destination'].dirty) {
                        <small *ngIf="bookingForm.controls['destination'].errors?.['required']" class="invalid-input">Please provide where you wish to go!</small>
                    }
                </div>
            </div>
            

            <div class="label-input-div-container">
                <!-- starting date -->
                <div class="label-input-div">
                    <label class="form-font">Boarding Date</label>
                    <input type="date" formControlName="startdate" class="form-input">
                    @if (bookingForm.controls['startdate'].touched || bookingForm.controls['startdate'].dirty) {
                        <small *ngIf="bookingForm.controls['startdate'].errors?.['required']" class="invalid-input">When you wish you commence the journey?</small>
                    }
                </div>

                <!-- ending date -->
                <div class="label-input-div">
                    <label class="form-font">Reaching Destination on</label>
                    <input type="date" formControlName="enddate" class="form-input">
                </div>
            </div>

            <div class="label-input-div-container">
                <!-- passengerNumber -->
                <div class="label-input-div">
                    <label class="form-font">Number of passengers</label>
                    <input type="number" formControlName="numofpassengers" class="form-input">
                    @if (bookingForm.controls['numofpassengers'].touched || bookingForm.controls['numofpassengers'].dirty) {
                        <small *ngIf="bookingForm.controls['numofpassengers'].errors?.['required']" class="invalid-input">Please provide the number of passengers!</small>
                    }
                </div>
            </div>

            
            <div class="label-input-div-container">
                 <!-- passenger [disabled field/ preferably the emailid of the person who is booking] -->
                <div class="label-input-div">
                    <label class="form-font">User email</label>
                    <input type="email" formControlName="passengerEmail" class="form-input" [(ngModel)]="passengerEmail" readonly>
                </div>
                 <!-- transport [the transport chosen for the journey / it will also be fetched through session storage] -->
                <div class="label-input-div">
                    <label class="form-font">Vehicle Info</label>
                    <input type="text" formControlName="vehicleInfo" class="form-input" [(ngModel)]="vehicleInfo" readonly>
                </div>
            </div>

            <div class="submit-button-container">
                <button type="submit" class="submit-button" [disabled]="bookingForm.invalid">Submit Details</button>
            </div>           
        </form>
    </div>
</div>