<nav class="navbar">
  <div class="heading-logo" routerLink="/home">
    <img src="assets/logo.png" alt="Logo" class="title-img">
    <p class="logo">{{title}}</p>
  </div>
  <div class="dropdown">
    <button>Hello {{userName}}</button>
    <div class="dropdown-content">
      <a href="#" routerLink="/profile">Profile</a>
      <a href="#" routerLink="/admin" *ngIf="adminBool">Admin Access</a>
      <a href="#" (click)="OnLogout()">Logout</a>
    </div>
  </div>
</nav>

<app-ads [adminBool]="adminBool"></app-ads>