<form [formGroup]="searchFlightForm" (ngSubmit)="OnSearchTransport(searchFlightForm)">
    <div class="form-group">
        <div class="box">
            <label>From</label>

            <div class="input-wrapper" #dropdownWrapper>
                <input
                type="text"
                formControlName="departure"
                [formControl]="dept"
                placeholder="Enter a Departure"
                />

                <!-- Suggestion List -->
                <ul *ngIf="suggestedDepartures.length > 0" class="suggestion-list">
                <li *ngFor="let suggestion of suggestedDepartures" (click)="selectDeparture(suggestion)">
                    {{ suggestion }}
                </li>
                </ul>
            </div>

            <!-- Validation Message -->
            @if (searchFlightForm.controls['departure'].touched || searchFlightForm.controls['departure'].dirty) {
                <small *ngIf="searchFlightForm.controls['departure'].errors?.['required']">Provide a departure</small>
            }
        </div>



        <!-- destination -->
        <div class="box">
            <label>To</label>

            <div class="input-wrapper" #dropdownWrapper>
                <input
                type="text"
                formControlName="destination"
                [formControl]="dest"
                placeholder="Enter a Destination"
                />

                <!-- Suggestion List -->
                <ul *ngIf="suggestedDestinations.length > 0" class="suggestion-list">
                <li *ngFor="let suggestion of suggestedDestinations" (click)="selectDestination(suggestion)">
                    {{ suggestion }}
                </li>
                </ul>
            </div>

            <!-- Validation Message -->
            @if (searchFlightForm.controls['destination'].touched || searchFlightForm.controls['destination'].dirty) {
                <small *ngIf="searchFlightForm.controls['destination'].errors?.['required']">Provide a destination</small><br>
                <small *ngIf="searchFlightForm.errors?.['depurtureError']">{{searchFlightForm.errors?.['depurtureError'].message}}</small>
            }
        </div>

        <!-- departure date -->
        <div class="box">Departure Date<br>
            <input type="date" formControlName="journeyDate" placeholder="Select a date">
            <br>
            @if (searchFlightForm.controls['journeyDate'].touched || searchFlightForm.controls['journeyDate'].dirty) {
                <small *ngIf="searchFlightForm.controls['journeyDate'].errors?.['required']">Provide a start date</small><br>
                <small *ngIf="searchFlightForm.controls['journeyDate'].errors?.['dateError']">{{searchFlightForm.controls['journeyDate'].errors?.['dateError'].message}}</small>
            }
        </div>

        <!-- Return date -->
        <div class="box">Return Date<br>
            <input type="date" formControlName="returnDate" placeholder="Select a date">
            <br>
            @if (searchFlightForm.controls['returnDate'].touched || searchFlightForm.controls['returnDate'].dirty) {
                <small *ngIf="searchFlightForm.errors?.['returnDateError']">{{searchFlightForm.errors?.['returnDateError'].message}}</small>
            }
        </div>

        <!-- number of passengers -->
        <div class="box">Passengers and Class<br>
            <div style="display: flex; gap: 5px;">
                <input type="number" min="1" formControlName="numOfPassenger" placeholder="No of Passengers">
                <select formControlName="travelClass" >
                    <!-- ngFor loop will be used to show all the classes -->
                    <option value="null" selected disabled>Select</option>
                    <option *ngFor="let item of travelClass" [value]="item">{{item}}</option>
                </select>
            </div>
        </div>
    </div>
    
    
    <div class="selection-container">
        <div class="radio-label">
            Select the type of fair
        </div>
        <label class="radio-label">
            <input type="radio" formControlName="fare" value="Non-Refundable" checked> Regular<br>Non-Refundable
        </label>
        <label class="radio-label">
            <input type="radio" formControlName="fare" value="Refundable"> Student<br>Refundable
        </label>
        <label class="radio-label">
            <input type="radio" formControlName="fare" value="Refundable"> Premium<br>Refundable
        </label>
        <label class="radio-label">
            <input type="radio" formControlName="fare" value="Non-Refundable"> Senior<br>Non-Refundable
        </label>
    </div>

    <button type="submit" [disabled]="searchFlightForm.invalid">Search</button>
</form>