@if (loginStatus) {
    <app-customerbar></app-customerbar>
}
@else {
    <app-commonbar></app-commonbar>
}
<div class="body-div">
    <div class="nav">
        <!-- each img tag below will be connected to different services -->
        <div [ngClass]="{'active': selectedTransport === 'flight'}" (click)="OnTransportSelection('flight')">
            <img src="assets/flight.png" width="25px" height="20px">
            <p>Flights</p>
        </div>
        <div [ngClass]="{'active': selectedTransport === 'train'}" (click)="OnTransportSelection('train')">
            <img src="assets/train.png" width="25px" height="20px">
            <p>Trains</p>
        </div>
        <div [ngClass]="{'active': selectedTransport === 'hotel'}" (click)="OnTransportSelection('hotel')">
            <img src="assets/hotels.png" width="25px" height="20px">
            <p>Hotels</p>
        </div>
        <div [ngClass]="{'active': selectedTransport === 'bus'}" (click)="OnTransportSelection('bus')">
            <img src="assets/bus.jpg" width="25px" height="20px">
            <p>Buses</p>
        </div>
        <div [ngClass]="{'active': selectedTransport === 'cab'}" (click)="OnTransportSelection('cab')">
            <img src="assets/taxi.png" width="25px" height="20px">
            <p>Cabs</p>
        </div>
    </div>
    <!-- depending on the img div selected, the app-component will be loaded -->
    <div class="main">
        <app-flight *ngIf="selectedTransport === 'flight'"></app-flight>
        <app-train *ngIf="selectedTransport === 'train'"></app-train>
        <app-bus *ngIf="selectedTransport === 'bus'"></app-bus>
        <app-hotel *ngIf="selectedTransport === 'hotel'"></app-hotel>
        <app-cab *ngIf="selectedTransport === 'cab'"></app-cab>
    </div>
</div>

<div class="blog-div">
    <h4>Best Deals</h4>
    <div class="inner-box-wrapper">
        <div class="inner-box" *ngFor="let blog of loremArray">
            <img [src]="blog[1]" alt="Blog Image">
            <div class="inner-box">
                {{blog[0]}}
            </div>
        </div>
    </div>
</div>

<div class="blog-div">
    <h4>Customer Experiences</h4>
    <div class="inner-box-wrapper">
        <div class="inner-box">Best Reviews</div>
        <div class="inner-box">What to do</div>
    </div>
</div>


@if(showLoginReminder && !loginStatus){
    <div class="login-reminder-backdrop">
    <div class="login-reminder-modal">
        <h2>🔒 Kindly log in</h2>
        <p>To continue accessing personalized features, please log in.</p>
        <div class="login-reminder-buttons">
        <button class="login-btn" routerLink="/login">Login Now</button>
        <button class="later-btn" (click)="dismissReminder()">Later</button>
        </div>
    </div>
    </div>
}

<footer class="footer">
  <div class="social-icons">
    <a href="https://www.instagram.com/djroy.1800?igsh=bjR6dzIyOWJiczRy" target="_blank" title="Follow us"><img src="assets/footer/Instagram.png" alt="Instagram logo"></a>
    <a href="https://www.facebook.com/debjyoti.roy.31508?mibextid=ZbWKwL" target="_blank" title="Connect with us"><img src="assets/footer/facebook.png" alt="Facebook logo"></a>
    <a href="https://x.com/DJRoy0108?t=a2ruJjhqIunfz8gQ9QZdXw&s=09" target="_blank" title="Don't miss the trend"><img src="assets/footer/Twitter.png" alt="Twitter logo"></a>
    <a href="mailto: rdebjytoti@gmail.com" target="_blank" title="Mail us"><img src="assets/footer/gmail.png" alt="Gmail"></a>
    <a href="#" target="_blank" title="Ping us"><img src="assets/footer/Whatsapp.png" alt="WhatsApp logo"></a>
  </div>

  <div class="footer-divider"></div>

  <div class="footer-info">
    <p>Contact us: <a href="tel:1234567890">123-456-7890</a></p>
    <p>© 2025 Travel Agency</p>
  </div>
</footer>