<app-commonbar></app-commonbar>
<div class="signup-container">
    <div class="signup-frame">
        <h2 class="form-header">Login</h2>
        <form #loginForm="ngForm" (ngSubmit)="onUserLogin(loginForm)" class="form-frame">
            <div class="label-input-div-container">
                <div class="label-input-div">
                    <label class="form-font" for="email">UserName</label>
                    <input type="text" id="email" name="UserName" class="form-input" required ngModel #emailRef="ngModel" />
                </div>
                <div class="invalid-input">
                    @if(emailRef.errors?.['required'] && emailRef.touched){
                        <span>&nbsp;Email is mandatory</span>
                    }
                    <!--                     
                    @if (emailRef?.errors?.['pattern'] && emailRef.touched) {
                        <span>&nbsp;Maintain a proper format for email</span>
                    } -->
                </div>
                <div class="label-input-div">
                    <label class="form-font" for="password">Password</label>
                    <input type="password" id="password" name="passwordName" class="form-input"  required ngModel #passwordRef="ngModel"/>
                </div>
                <div class="invalid-input">
                    @if (passwordRef?.errors?.['required'] && (passwordRef?.touched || passwordRef?.dirty)) {
                    <p>&nbsp;Password is mandatory</p>
                    }
                </div>                  
            </div>
            <div class="submit-button-container">
                <button type="submit" class="ghost-button">Login</button>
            </div>
        </form>
        <p class="already-a-member">Not a Member? <a routerLink="/signup" href="#">Register</a></p>
        <p class="forgot-password"><a (click)="updatePassword()">Forgot Passsword?</a></p>


        <!-- Forgot Password Popup -->
         @if(showForgotPassword){
            <div class="modal-overlay">
                <div class="modal-content">
                <app-forgot-password (close)="onForgotPasswordClose()"></app-forgot-password>
                </div>
            </div>
         }

    </div>
</div>

