<app-customerbar></app-customerbar>
@if(!profileUpdate){
  <div class="main-container">
    <div class="about-container">
      @if (userProfile!=null) {
        <h1>Login Details</h1>
        <div>
            <p>Username: {{userProfile.userName}}</p>
            <p>Email: {{userProfile.email}}</p>
            <p>Contact Number: {{userProfile.phoneNo}}</p>
        </div>
        <button class="update" (click)="updateProfileVariable()">Update Profile</button>
        <button class="update" (click)="updatePassword()">Update Password</button>

        <!-- Forgot Password Popup -->
        <div class="modal-overlay" *ngIf="showForgotPassword">
          <div class="modal-content">
            <app-forgot-password [email]="this.userProfile.email" (close)="onForgotPasswordClose()"></app-forgot-password>
          </div>
        </div>

      }
    </div>
    <div class="image-container">
      <h1>Profile Photo</h1>
      <div>
        <img [src]="profilePic" alt="Set your profile pic" (click)="UpdateProfilePic()">
      </div>
      @if(profilePicUpdate){
          <h4>Update Profile Photo</h4>
          <div class="profile-photo-gallery">
            <img *ngFor="let image of profilePicList" [src]="image" alt="Profile Photo" (click)="SetProfilePic(image)">
          </div>
          <br>

          <div class="button-container">
            <label class="upload-btn">
              Upload from device
              <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
            </label>
            <button class="piccancel-btn" (click)="UpdateProfilePic()">Cancel</button>
          </div>

      }
    </div>
</div>
}
@if(profileUpdate){
  <div class="profile-container">
    <h2>Update Profile</h2>
    <form [formGroup]="profileUpdateForm" (ngSubmit)="UpdateProfile(profileUpdateForm)">
      <div class="form-group">
        <label>Username:</label>
        <input type="text" formControlName="username" placeholder="Enter username" />
      </div>
  
      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="email" placeholder="Enter email" />
      </div>
  
      <div class="form-group">
        <label>Contact Number:</label>
        <input type="tel" formControlName="contactNumber" placeholder="Enter contact number" />
      </div>
      
      <div class="form-actions">
        <button type="submit" class="update-button" [disabled]="profileUpdateForm.invalid">Update</button>
        <button type="button" class="piccancel-btn" (click)="cancelProfileUpdate()">Cancel</button>
      </div>
    </form>
  </div>
}