    <app-customerbar></app-customerbar>
    <mat-sidenav-container class="admin-container">
      <mat-sidenav mode="side" opened class="sidenav">
        <h2 class="logo">Hi Admin!</h2>
        <mat-nav-list>
          <mat-list-item (click)="selectSection('dashboard')" class="nav-item">
            <span>Dashboard</span>
          </mat-list-item>
          <mat-list-item (click)="selectSection('users')" class="nav-item">
            <span>Users</span>
          </mat-list-item>
          <mat-list-item (click)="selectSection('reports')" class="nav-item">
            <span>Reports</span>
          </mat-list-item>
          <mat-list-item (click)="selectSection('adsSettings')" class="nav-item">
            <span>Ads Settings</span>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="content">
        <mat-toolbar color="primary" class="topbar">
          <span class="title">Admin Panel</span>
        </mat-toolbar>
        <div class="section" *ngIf="selectedSection === 'dashboard'">
          <h2>Dashboard</h2>
          <app-view-dashboard></app-view-dashboard>
        </div>
        <div class="section" *ngIf="selectedSection === 'users'">
          <h2>User Management</h2>
          <app-view-user></app-view-user>
        </div>
        <div class="section" *ngIf="selectedSection === 'reports'">
          <h2>Reports</h2>
          <p>Placeholder for viewing reports of different topics</p>
        </div>
        <div class="section" *ngIf="selectedSection === 'adsSettings'">
          <h2>Ads Settings</h2>
          <app-view-ads></app-view-ads>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>