<!-- Add bar -->
@if (!adminBool) {
<div class="ad-slider">
  <div class="ad-track">
    <div class="ad-card"><img src="assets/Ads/google.png" alt="Ad 1"></div>
    <div class="ad-card"><img src="assets/Ads/facebook.png" alt="Ad 2"></div>
    <div class="ad-card"><img src="assets/Ads/insta.png" alt="Ad 3"></div>
    <div class="ad-card"><img src="assets/Ads/olx.png" alt="Ad 4"></div>
    <div class="ad-card"><img src="assets/Ads/twitter.png" alt="Ad 5"></div>

    <!-- For reapeting effect -->
    <div class="ad-card"><img src="assets/Ads/google.png" alt="Ad 1"></div>
    <div class="ad-card"><img src="assets/Ads/facebook.png" alt="Ad 2"></div>
    <div class="ad-card"><img src="assets/Ads/insta.png" alt="Ad 3"></div>
    <div class="ad-card"><img src="assets/Ads/olx.png" alt="Ad 4"></div>
    <div class="ad-card"><img src="assets/Ads/twitter.png" alt="Ad 5"></div>
  </div>
</div>
}
<!-- End of Add bar -->